$offset: 187;
$duration: 1.4s;

header {
  text-align: center;
}

.spinner {
  animation: rotator $duration linear infinite;
  position: absolute;
  top: 48%;
  left: 47%;
  transform: translate(-50%, -50%);
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

.path {
  stroke-dasharray: $offset;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: dash $duration ease-in-out infinite,
  colors ($duration * 4) ease-in-out infinite;
}

@keyframes colors {
  0% {
    stroke: #4285f4;
  }
  25% {
    stroke: #de3e35;
  }
  50% {
    stroke: #f7c223;
  }
  75% {
    stroke: #1b9a59;
  }
  100% {
    stroke: #4285f4;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: $offset;
  }
  50% {
    stroke-dashoffset: $offset/4;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: $offset;
    transform: rotate(450deg);
  }
}
#histories {
  background: #f7f8f9;
  padding-top: 33px;
}

.history-container {
  position: relative;
}

.rec-container {
  overflow-x: auto;
  direction: rtl;
  padding: 0px 16px;
}

.recs {
  direction: ltr;
  height: 180px;
  width: 1100px;
  display: block;
  margin: 0px auto;
}

.day-of-week-container {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 16px;
  background: linear-gradient(to right, rgb(247, 248, 249), rgb(247, 248, 249), transparent);
  pointer-events: none;
}