header {
  text-align: center; }

main {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center; }

.spinner {
  animation: rotator 1.4s linear infinite;
  position: absolute;
  top: 48%;
  left: 47%;
  transform: translate(-50%, -50%); }

@keyframes rotator {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(270deg); } }

.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite; }

@keyframes colors {
  0% {
    stroke: #4285f4; }
  25% {
    stroke: #de3e35; }
  50% {
    stroke: #f7c223; }
  75% {
    stroke: #1b9a59; }
  100% {
    stroke: #4285f4; } }

@keyframes dash {
  0% {
    stroke-dashoffset: 187; }
  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg); }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg); } }

#histories {
  background: #f7f8f9;
  max-width: 1168px;
  margin: 0 auto;
  padding: 0;
  padding-top: 16px;
  border-radius: 8px; }

.history-container {
  position: relative; }

.rec-container {
  overflow-x: auto;
  direction: rtl;
  padding: 0px 16px; }

.recs {
  direction: ltr;
  height: 250px;
  width: 1100px;
  display: block;
  margin: 0px auto; }

.days-container {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 16px;
  background: linear-gradient(to right, #f7f8f9, #f7f8f9, transparent);
  pointer-events: none; }

.days {
  width: 60px;
  height: 250px; }
